<html>
    <head>

    </head>
    <body>
        <form method="POST" action = '/predict' >
            <label for="setting1">setting1:</label><br>
            <input type="number" id="fname" name="setting1" placeholder="setting1" required='required'><br>
            <label for="setting2">setting2:</label><br>
            <input type="number" id="setting2" name="setting2" placeholder="setting2" required='required'><br>
            <label for="s1">s1:</label><br>
            <input type="number" id="s1" name="s1" placeholder="s1" required='required'><br>
            <label for="s2">s2:</label><br>
            <input type="number" id="s2" name="s2" placeholder="s2" required='required'><br>
            <label for="s3">s3:</label><br>
            <input type="number" id="s3" name="s3" placeholder="s3" required='required'><br>
            <label for="s4">s4:</label><br>
            <input type="number" id="s4" name="s4" placeholder="s4" required='required'><br>
            <label for="s5">s5:</label><br>
            <input type="number" id="s5" name="s5" placeholder="s5" required='required'><br>
            <label for="s6">s6:</label><br>
            <input type="number" id="s6" name="s6" placeholder="s6" required='required'><br>
            <label for="s7">s7:</label><br>
            <input type="number" id="s7" name="s7" placeholder="s7" required='required'><br>
            <label for="s8">s8:</label><br>
            <input type="number" id="s8" name="s8" placeholder="s8" required='required'><br>
            <label for="s9">s9:</label><br>
            <input type="number" id="s9" name="s9" placeholder="s9" required='required'><br>
            <label for="s10">s10:</label><br>
            <input type="number" id="s10" name="s10" placeholder="s10" required='required'><br>
            <label for="s11">s11:</label><br>
            <input type="number" id="s11" name="s11" placeholder="s11" required='required'><br>
            <label for="s12">s12:</label><br>
            <input type="number" id="s12" name="s12" placeholder="s12" required='required'><br>
            <label for="s13">s13:</label><br>
            <input type="number" id="s13" name="s13" placeholder="s13" required='required'><br>
            <label for="s14">s14:</label><br>
            <input type="number" id="s14" name="s14" placeholder="s14" required='required'><br>
            <label for="s15">s15:</label><br>
            <input type="number" id="s15" name="s15" placeholder="s15" required='required'><br>
            <label for="s16">s16:</label><br>
            <input type="number" id="s16" name="s16" placeholder="s16" required='required'><br>
            <label for="s117">s17:</label><br>
            <input type="number" id="s17" name="s17" placeholder="s17" required='required'><br>
            <label for="s20">s20:</label><br>
            <input type="number" id="s20" name="s20" placeholder="s20" required='required'><br>
            <label for="s21">s21:</label><br>
            <input type="number" id="s21" name="s21" placeholder="s21" required='required'><br>

            <button type='submit'>Predict</button>
        </form>


       </form>
    </body>
</html>